body {
	background-color: #EFEFEF;
}

.drop-shadow {
	box-shadow: 0 10px 30px rgba(0,0,0,0.3);
	margin: 20px;
	background-color: #fff;
}

.easter-egg a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
    color: #333333;
}

li {
	padding: 0 0 10px;
}

img {
	margin: 0 0 20px;
}